@import '../../styles/index.less';

@width: 260px;

.lc {
  header.lc-header {
    background: @gray;
  }

  &-header {
    display: flex;
    height: 0.54rem;
    width: 100%;
    border-bottom: 0.01rem solid @border;
    padding: 0;

    &-left {
      display: flex;
      align-items: center;
      width: @width;
      height: 100%;
      padding: 0.1rem 0.2rem;
    }

    &-center {
      display: inline-block;
      height: 100%;
      padding: 0.1rem 0;
      flex: 1 1;
    }

    &-right {
      display: flex;
      align-items: center;
      width: @width;
      height: 100%;
      padding: 0.1rem 0.2rem;
      justify-content: flex-end;
    }
  }

  &-content {
    min-height: calc(100vh - 54px);

    .flex;
    &-left,
    // &-center,
    &-right {
      display: block;
      flex: none;
      background-color: @white;
    }

    &-left {
      width: @width;
      border-right: 0.01rem solid @border;

      .tag {
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center;

        &:hover > span {
          border: 1px solid @primary;
          cursor: move;
        }
      }
    }

    &-center {
      flex: 1 1;

      :global .ant-card-bordered {
        &:hover {
          border: 1px solid @primary;
        }
        margin: 20px 20px 0;
        border-color: @border;
      }

      .drag-to {
        :global .ant-card-bordered {
          border: 1px dashed rgb(0, 195, 255);
        }
      }

      .selected {
        border: 1px solid @primary;
      }

      .add-btn {
        &::before {
          content: '';
          background: @white;
          width: 10px;
          height: 10px;
          position: absolute;
          left: 5px;
          top: 5px;
          z-index: -1;
        }
      }

      .compo {
        border: 1px solid @border;
        &:hover {
          border: 1px dashed @primary;
        }
      }
    }

    &-right {
      width: @width;
      border-left: 0.01rem solid @border;
    }
  }
}
