@padding: 24px;

body {
  font-size: 14px;
  color: @black1;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

:global .ant-layout-sider-trigger,
:global .ant-layout-sider {
  background-color: @white;
  color: @black1;
}

:global .ant-layout-sider-trigger {
  border-top: 1px solid @gray;
}

:global .ant-layout-sider-zero-width-trigger,
:global .ant-layout-header {
  background-color: @primary;
}

:global #root {
  min-height: 100vh;
}

:global .ant-card-head-wrapper {
  &::before {
    content: '';
    height: 18px;
    width: 3px;
    background: @secondary;
    display: inline-block;
    margin-right: 4px;
  }
}

:global div.ant-form-item {
  margin-bottom: 10px;
}
